# Ignorer tout
** 

# Sauf ces fichiers
!.gitignore  
!README.md 
!launch_microservices.bat 
!docker-compose.yml
!ddos.ps1
!Jenkinsfile

!config-service/
!config-service/**
!ms-gateway/
!ms-gateway/**
!ms-discovery/
!ms-discovery/**

!user-service/
!user-service/** 
!account-service/
!account-service/**
!transaction-service/
!transaction-service/**
 
!frontend/
!frontend/**

**/target/
**/ai-service/src/main/resources/application.properties
**/package-lock.json
**/node_modules/
