services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
    ports:
      - "2181:2181"

  kafka:
    image: confluentinc/cp-kafka:7.5.0
    container_name: kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

  ms-discovery:
    build: ./ms-discovery
    container_name: discovery-doc
    ports:
      - "8761:8761"
    expose:
      - "8761"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8761/actuator/health"]
      interval: 4s
      retries: 10

  config-service:
    build: ./config-service
    container_name: config-doc
    ports:
      - "9999:9999"
    expose:
      - "9999"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9999/actuator/health"]
      interval: 4s
      retries: 10
      start_period: 10s
    environment:
      - DISCOVERY_SERVICE_URL=http://discovery-doc:8761/eureka
    depends_on:
      ms-discovery:
        condition: service_healthy

  user_service:
    build: ./user-service
    container_name: user-doc
    ports:
      - "7001:7001"
      - "7001"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:7001/actuator/health"]
      interval: 4s
      retries: 10
      start_period: 15s
    environment:
      - DISCOVERY_SERVICE_URL=http://discovery-doc:8761/eureka
      - CONFIG_SERVICE_URL=http://config-doc:9999
      - KAFKA_SERVICE_URL=kafka:9092
    depends_on:
      config-service:
        condition: service_healthy

  account_service:
    build: ./account-service
    container_name: account-doc
    ports:
      - "7002:7002"
      - "7002"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:7002/actuator/health"]
      interval: 4s
      retries: 10
      start_period: 20s
    environment:
      - DISCOVERY_SERVICE_URL=http://discovery-doc:8761/eureka
      - CONFIG_SERVICE_URL=http://config-doc:9999
      - KAFKA_SERVICE_URL=kafka:9092
    depends_on:
      config-service:
        condition: service_healthy
      user_service:
        condition: service_healthy

  transaction_service:
    build: ./transaction-service
    container_name: transaction-doc
    ports:
      - "7003:7003"
      - "7003"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:7003/actuator/health"]
      interval: 4s
      retries: 10
      start_period: 20s
    environment:
      - DISCOVERY_SERVICE_URL=http://discovery-doc:8761/eureka
      - CONFIG_SERVICE_URL=http://config-doc:9999
      - KAFKA_SERVICE_URL=kafka:9092
    depends_on:
      config-service:
        condition: service_healthy
      user_service:
        condition: service_healthy
      account_service:
        condition: service_healthy

  ms-gateway:
    build: ./ms-gateway
    container_name: gateway-doc
    ports:
      - "8085:8085"
    expose:
      - "8085"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8085/actuator/health"]
      interval: 4s
      retries: 10
      start_period: 25s
    environment:
      - DISCOVERY_SERVICE_URL=http://discovery-doc:8761/eureka
      - KEYCLOCK_SERVICE_URL=http://192.168.0.168:8080/realms/lefort-realm
      - KEYCLOCK_SERVICE_JWT_URL=http://192.168.0.168:8080/realms/lefort-realm/protocol/openid-connect/certs
    depends_on:
      transaction_service:
        condition: service_healthy

  frontend:
    build:
      context: ./frontend
      args:
        VITE_MICRO_GATEWAY_URL: http://192.168.0.168:8085
        VITE_KEYCLOAK_SERVER_URL: http://192.168.0.168:8080
        VITE_KEYCLOAK_REALM: lefort-realm
        VITE_KEYCLOAK_CLIENT_ID: frontend-react
    container_name: react-doc
    ports:
      - "5173:80"
