@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
.nav-btn {
  @apply flex items-center space-x-3 px-4 py-3 rounded-xl transition-all duration-200 text-sm font-medium text-slate-600 hover:bg-slate-100 w-full;
}

.sub-nav-btn {
  @apply block text-sm px-3 py-2 rounded-lg hover:bg-gray-100 w-full text-left;
} */
